* {
    box-sizing: border-box;
}

:root {
    font-family: 'Inria Serif', serif;
}

body {
    background-color: white;
}


h2,
h3 {
    color: rgb(241, 58, 95);
}

header {
    display: flex;
    background-color: lightgray;
    text-align: center;
}

header h2,
header h3 {
    color: black;
}

h1 {
    font-size: 60px;
    font-style: italic;
}

h2 {
    font-size: 35px;
    font-style: italic;
}

header div {
    flex: 50%;
}

header div.brief {
    text-align: left;
    padding-top: 10%;
    padding-left: 20px;
    background-color: pink;

}

header img {
    border-radius: 100px;
}

#menulist {
    display: flex;
    list-style-type: none;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.menu {
    display: none;
}

nav li {
    padding: 8px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav li:hover,
nav a:hover {
    background-color: rgb(241, 58, 95);
    color: white;
    border-radius: 4px;

}

.about_me {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    position: relative;
    align-items: center;
}

.about_me article {

    width: 80%;
    text-align: center;

}

.education {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;

}

.education article {
    background-color: rgb(253, 223, 228);
    border-radius: 20px;
}

.experience {
    text-align: center;
    background-color: lightgray;
}

.experience div {
    align-items: center;

}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: grey;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    /*padding: 10px 10px;*/
    position: relative;
    background-color: lightgrey;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    right: -10px;
    background-color: white;
    border: 8px solid rgb(253, 131, 156);
    top: 50px;
    border-radius: 20px;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}


/* Fix the circle for containers on the right side */
.right::after {
    left: -10px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: pink;
    position: relative;
    border-radius: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.project_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    padding-left: 10%;
    padding-right: 10%;
    gap: 20px;
}

.contact {
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    background-color: lightgrey;
}

div.form {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(250, 249, 249);
    padding: 20px;
    width: 50%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(253, 131, 156);
    ;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit],
input[type=reset] {
    width: 30%;
    background-color: pink;
    color: black;
    padding: 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=reset]:hover {
    background-color: rgb(241, 58, 95);
    color: white;
}

.buttons {
    display: flex;
    justify-content: center;
}

textarea {
    width: 100%;
    border: 1px solid rgb(253, 131, 156);
    ;


}

.contact div.contact_information {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    padding-left: 10px;
    gap: 40px;
    background-color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.icon {
    display: flex;
    gap: 20px;
}

aside {
    font-style: italic;
}

footer {
    text-align: center;
    background-color: rgb(241, 58, 95);
    padding: 10px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media (min-width: 601px) and (max-width: 1000px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 8px;
    }

    #menulist {
        display: flex;
        list-style-type: none;
        gap: 10px;
        align-items: center;
    }

    .project_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        padding-left: 10%;
        padding-right: 10%;
        gap: 5px;
    }

}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 15px;
    }

    p {
        font-size: 10px;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .me img {
        width: 90%;
    }

    .menu {
        display: block;
        color: rgb(241, 58, 95);
        text-align: center;
    }

    #menulist {
        display: none;
        list-style-type: none;
        flex-direction: column;
    }

    .about_me img {
        width: 60%;
        height: 60%;
    }

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }

    .project_list {
        display: flex;
        flex-direction: column;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    div.form {
        border-radius: 5px;
        width: 100%;
    }

    .contact div.contact_information {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 15%;
        padding-left: 10px;
        gap: 40px;
        background-color: white;
        border-radius: 5px;
    }
}